<!DOCTYPE html>
<html>
    <head>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    </head>   

    <body style="background-image: url('https://diginomica.com/sites/default/files/images/2020-02/field-533541_1280.jpg');
    background-size: cover;">

        <br><br><br>

        <div class="d-flex justify-content-center">

            <div class="jumbotron text-center" style="background-color: rgba(0, 6, 58, 0.6); padding: 10px;">

                <h1 style=" color: rgb(255, 255, 255);">Something went wrong with your request...</h1>
                <h2 style=" color: rgb(255, 255, 255);">Please make sure to enter the name of the city correctly</h2>
                <h2 style=" color: rgb(255, 255, 255);">and that you're connected to the internet.</h2>

            </div>

        </div>

    </body>

</html>